= render 'renderpage/header'

.buyinfo
  .buyinfo__content
    %h2 購入内容の確認
    .buyinfo__content__item
      = image_tag "material/pict/pict-reason-02.jpg"
        %p
          インナー  4枚セット 黒 グレー
        .buyinfo__content__form
          %span.buyinfo__content__free
            送料込み
            %p.buyinfo__content__price
              ¥1000
              
          %ul.buyinfo__content__table
            %li.buyinfo__content__youpay
              .buyinfo__content__pricecell 
                支払い金額
                %span.buyinfo__content__datapay
                  ¥1000
          %ul.buyinfo__content__accord
            %li.buyinfo__content__list
              .buyinfo__content__toggle ポイントはありません
    %section.buyinfo__content__info{ id: "#" }
      .buyinfo__content__inner
        %h3 支払方法
        .buyinfo__content__infotext
          %br クレジットカード
          -#以下カード情報を表示
          ************8091
          有効期限 01 / 25
        %br
        = link_to "#" do
          %span 変更する  ＞
          = icon 'fas', 'chevron-right'
    %section.buyinfo__content__info
      .buyinfo__content__inner
        %h3 配送先
        %address.info__content__user
          〒601-8468
          京都府 京都市区町 123-1 号室
          山田  太郎
          %br
            = @address_info
          %br
            = @full_name
        = link_to "#" do
          %span 変更する
          = icon 'fas', 'chevron-right'
      
      .buyinfo__content__text
        %p 
          郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
        = form_tag("#") do
          %button.buyinfo__content__btn 
            購入する
-# = render 'renderpage/footer'
