= render 'renderpage/header'

.buyinfo
  .buyinfo__content
    %h2 購入内容の確認
    .buyinfo__content__item
      .buyinfo__content__item--images
        = image_tag "material/pict/pict-reason-02.jpg"
      .buyinfo__content__item--text
        %h3
          インナー  4枚セット 黒 グレー
        %p.buyinfo__content__item--form
          %span.buyinfo__content__item--form--free
            送料込み
          %span.buyinfo__content__item--form--price
            ¥1000
    .buyinfo__content__cost
      .buyinfo__content__cost--price
        %p 
          支払い金額
      .buyinfo__content__cost--pay
        %span ¥1000
    .buyinfo__content__info
      .buyinfo__content__info--cont
        .buyinfo__content__info--cont--title
          %h3 支払方法
          = link_to "#" do
            %span 変更する  ＞
            = icon 'fas', 'chevron-right'
        %address.info__content__crejiit
          %p
            クレジットカード
          %p
            ************8091
          %p
            有効期限 01 / 25
        
    .buyinfo__content__deliver
      .buyinfo__content__deliver--inner
        .buyinfo__content__deliver--inner--top
          %h3 配送先
          = link_to "#" do
            %span 変更する  ＞
            = icon 'fas', 'chevron-right'
        %address.info__content__user
          %p
            〒601-8468
          %p
            京都府 京都市区町 123-1 号室
          %p
            山田  太郎
        
      
    .buyinfo__content__const
      %p 
        郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
    .buyinfo__content__botan
      = form_tag("#") do
        %button.buyinfo__content__const--btn 
          購入する
= render 'renderpage/footer'
