-# = render partial: "renderpage/header"
= render partial: "renderpage/main-top"
= render partial: "renderpage/introduction"
= render partial: "renderpage/middle"
= render partial: "renderpage/features"
= render partial: "renderpage/new-items"
= render partial: "renderpage/archive"
-# = render partial: "renderpage/parts_download"
-# = render partial: "renderpage/footer"
-# = render partial: "renderpage/sell"
