#wrapper
  -# "FURIMA" サービスロゴ画像
  = image_tag '/logo/logo.png', id: 'logo'

  -# 新規登録ボタンのブロック要素
  #new_regist
    - if devise_mapping.registerable? && controller_name != 'registrations'
      = link_to "新規会員登録", new_registration_path(resource_name)

  -# メールアドレス＆パスワードフォームからログインボタンまでのブロック要素
  #login
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
      = form.email_field :email, id: 'login__email', placeholder: 'メールアドレス', autofocus: true, autocomplete: "email"

      -# パスワード関連の３要素を含む ブロック要素
      #login__password
        = form.password_field :password, id: 'login__password--form', placeholder: 'パスワード', autocomplete: "current-password"

        -# "情報を記憶する" チェックボックス
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          - if devise_mapping.rememberable?
            = form.check_box :remember_me
            = form.label :remember_me, '情報を記憶する'
          = link_to "パスワードを忘れた方ははこちら", new_password_path(resource_name), id: 'login__password--forget'
      = form.submit "ログイン", id: 'login__submit'