= form_with model: @item, local: true do |form|
  商品の画像
  = form.fields_for :images do |i|
    = i.file_field :src
    %br/
  商品名
  = form.text_field :name
  %br/
  価格
  = form.number_field :price
  %br/
  商品の説明
  = form.text_field :product_description
  %br/
  サイズ
  = form.text_field :size
  %br/
  ブランド
  = form.text_field :brand
  %br/
  商品の状態
  = form.text_field :condition
  %br/
  配送料
  = form.text_field :delivary_charge
  %br/
  送付元
  = form.text_field :sender
  %br/
  配送にかかる日数
  = form.number_field :shipping_date
  %br/
  = form.submit