= render 'renderpage/header'

%div.new-pickups
  %h2.new-items__title
    ピックアップカテゴリー
  .new-items__products
    %div.new-items__products__lists.all
      - @items.each do |item|
        = link_to product_path do
          -if item.buyer == nil
            .new-items__products__lists__list
              .new-items__products__lists__list--pic
                = image_tag item.images.first.image.url
              .new-items__products__lists__list--body
                %h3.new-items__products__lists__list--body__title
                  %p= item.name
                .new-items__products__lists__list--body__details
                  %ul
                    %li 
                      = item.price 
                    %li 
                      ★0
                  %p （税込）
          -else
            .new-items__products__lists__list
              .new-items__products__lists__list--pic
                = image_tag item.images.first.image.url
                .new-items__products__lists__list--pic--sold
                  .new-items__products__lists__list--pic--sold--inner
                    SOLD
              .new-items__products__lists__list--body
                %h3.new-items__products__lists__list--body__title
                  %p= item.name
                .new-items__products__lists__list--body__details
                  %ul
                    %li 
                      = item.price 
                    %li 
                      ★0
                  %p （税込）
                
  = paginate @items 
  = render 'renderpage/footer'
