= render partial: "renderpage/header"
.mypage
  =render partial: "mypage/sidebar"

  .main
    .card__info
      %h2
        【登録クレジットカード情報】
      .card__info__box
        %p.card__info__box__number
          クレジットカード番号
        %p.card__info__box__number-display
        = "**** **** **** " + @default_card_information.last4
        
        %p.card__info__box__exp
          有効期限
          %span.card__info__box__exp__small
          （月/年）
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        %p.card__info__box__exp-display
        = exp_month + " / " + exp_year
        = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button.card__info__box__btn 削除する
          %p.back.card_margin
            = link_to "戻る",:back
          
          
          .card_note
            ※クレジットカード情報は、複数登録できません。
            別のカードを登録する際は、現在のカード情報を削除して下さい
      


      

-# %label 登録クレジットカード情報
-# %br
-# = "**** **** **** " + @default_card_information.last4
-# %br
-# - exp_month = @default_card_information.exp_month.to_s
-# - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
-# = exp_month + " / " + exp_year
-# = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
-#   %input{ type: "hidden", name: "card_id", value: "" }
-#   %button 削除する
-#   .back.card_margin
-#     = link_to "戻る", root_path
-#   .back
-#     -# = link_to "マイページへ", user_path(current_user.id)
  
-#   .card_note
-#     ※クレジットカード情報は、複数登録できません。
-#     別のカードを登録する際は、現在のカード情報を削除して下さい

= render partial: "renderpage/footer"
