.header
  .header__inner
    .header__inner__image
      = link_to (image_tag "material/logo/logo.png",height:"40",with:"60"),root_path 
    .header__inner__search 
      %form 
        %input.input{type:"text",placeholder: "キーワードで検索"}
        = button_tag type: 'submit',class:"submit" do
          = image_tag "material/icon/icon-search1.png"
  .header__lists 
    .list 
      = link_to "#" do
        カテゴリー
      = link_to "#" do
        ブランド
    .list 
      = link_to "ログイン" 
      = link_to "新規会員登録"
