.header
  .header__search
    = link_to image_tag('material/logo/logo.png', class: 'logo'), root_path
    %form.header__search__form
      %input{type: 'search', class: 'header__search__form__input', placeholder: '検索するキーワードを入力して下さい。'}
      = button_tag type: 'submit', class: 'header__search__form__submit' do
        = image_tag 'material/icon/icon-search1.png', class: 'header__search__form__submit--image'

  .header__menu
    .header__menu__category
      = link_to category_index_path do
        %p カテゴリー
      = link_to root_path do
        %p ブランド
    .header__menu__devise
      - if user_signed_in?
        = link_to mypage_index_path do
          %p マイページ
        = link_to destroy_user_session_path, method: :delete do
          %p ログアウト
      - else
        = link_to new_user_session_path do
          %p ログイン
        = link_to new_user_registration_path do
          %p 新規登録
