.topfooter-take-lowbox
  .topfooter-take-lowbox__guidebox.displayflex
    .topfooter-take-lowbox__guidebox__bottom
      %ul.topfooter-guidebox__title
        FURIMAについて
      %li
        = link_to root_path do
          会社概要（運営会社）
      %li
        = link_to root_path do  
          プライバシーポリシー  
      %li
        = link_to root_path do   
          FURIMA利用規約
      %li
        = link_to root_path do   
          ポイントに関する特約                         
    .topfooter-take-lowbox__guidebox__bottom
      %ul.topfooter-guidebox__title
        FURIMAを見る
      %li
        = link_to root_path do
          カテゴリー一覧
      %li
        = link_to root_path do  
          ブランド一覧
    .topfooter-take-lowbox__guidebox__bottom
      %ul.topfooter-guidebox__title
        ヘルプ&ガイド
      %li
        = link_to root_path do
          FURIMAガイド
      %li
        = link_to root_path do  
          FURIMAロゴ利用ガイドライン
      %li
        = link_to root_path do   
          お知らせ 
  .topfooter-take-lowbox__copywrite.displayflex
    .topfooter-take-lowbox__copywrite__img
      = link_to root_path do  
        -# = image_tag 'footer-mercari-logo.png', size: '124x33'
    .topfooter-take-lowbox__copywrite__text
      %span.corywrite-text © FURIMA
